*{
    margin: 0;
    padding: 0;
}
html{
    overflow-x: hidden;
}
.navbar{
    background-image: url(images/project2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
}
.hero_btn{
    height: 6vh;
    padding: 1vh;
    font-size: 3vh;
    border-radius: 0.2em ;
    color: white;
    background-color: rgba(0, 0, 0, 0.062);
    border: 2px solid white;
    border-color: white;
    margin-top: 3vh;
}
.nav_content{
    text-align: center;
    padding-top: 10vh;
    color: white;
}
.nav_content h1{
    font-size: 10vh;
}
.nav_content p{
    font-size: 4vh;
}




.about_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1vw;
    width: 80%;
    margin-left: 9vw;
    margin-top: 3vw;
}

.about_img1{
    width: 25vw;
    height: 35vh;
}
.about_img2{
    width: 25vw;
    height: 35vh;
    position: absolute;
    right: 15vw;
    margin-top: 10vh;
    /* top: 10vh; */
}

.about_grid1 h1{
    font-size: 3vh;
    color: rgb(27, 27, 216);
}
.about_grid1 h2{
    font-size: 5vh;
}
.about_grid1 p{
    font-size: 3vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
}
.about_grid1 small{
    font-size: 3vh;
    font-weight: bolder;
}





.counter{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 10vw;
}
.number{
    font-size: 6vh;
    color: rgb(19, 106, 192);
}
.label{
    font-size: 3vh;
    color: rgba(0, 0, 0, 0.616);
}





.services{
    background: #bbb;
    padding-top: 6vh;
    padding-bottom: 6vh;
    margin-bottom: 6vh;
}
.services_top{
    text-align: center;
    margin-bottom: 3vh;
}
.services_top small{
    font-size: 3vh;
}
.services_cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2vw;
    margin-left: 8vw;
    width: 80vw;
}
.service_card1{
    /* width: 25vw; */
    height: 35vh;
    padding: 1vw;
    text-align: center;
    background-color: white;
}
.card_img{
    /* width: 10vw; */
    color: white;
    background-color: rgb(16, 107, 197);
    /* height: 8vh; */
    padding: 2vh;
    border-radius: 50%;
}
.all_service_p{
    text-align: center;
    margin-top: 3vh;
}
.all_services{
    padding: 2vh;
    color: white;
    border: 0;
    font-weight: bolder;
    border-radius: 0.2em;
    background-color: rgb(16, 107, 197);
}









.portfolio_top{
    text-align: center;
}
/* .portfolio_btn{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1vw;
    width: 30vw;
} */
.all_btn{
    /* width: 100%; */
    padding: 1vh;
    background-color: #bbb;
    border: 0;
    border-radius: 0.2em;
    padding-left: 2vw;
    padding-right: 2vw;
}
.all_btn:hover{
    /* width: 100%; */
    padding: 1vh;
    background-color: dodgerblue;
    border: 0;
    border-radius: 0.2em;
    padding-left: 2vw;
    padding-right: 2vw;
}
.portfolio_grid1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80vw;
    margin-left: 10vw;
    margin-top: 3vh;
}
.portfolio_img{
    width: 25vw;
    height: 55vh;
}








.agency{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1vw;
    width: 80vw;
    margin-left: 10vw;
}
.agency_video{
    width: 40vw;
    height: 100vh;
}
.agency_txt{
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
}
.agency_txt small{
    color: dodgerblue;
}
.agency_text1{
    font-size: 3vh;
    margin-top: 3vh;
    color: rgba(0, 0, 0, 0.712);
}
.agency_text2{
    font-size: 3vh;
    margin-top: 3vh;
    color: rgba(0, 0, 0, 0.712);
}